.Error--container {
    width:100%;
    padding:50% 250%;
    background-color: transparent;
    border-Radius: 4px;
    
}
.Error--container p {
    color: #c62828;
    font-Size:20px;
    text-Align:center;
}

@media (max-width: 728px) {
    .Error--container {
        width:50%;
        padding:20% 80%;
        background-color: transparent;
        border-Radius: 4px;
        color: #c62828;
        font-Size:20px;
        text-Align:center;
        height: 50%;
    }
}
