.Operator--navItem {
    text-Decoration: none;
    color:magenta;
    display: flex;
    flex-Direction: column;
    align-Items: center;
    text-Shadow: 0 5px 10px #161414;
    font-Size:15px;
    margin-Right:20px;
}

@media (max-width: 728px) {
    .Operator--navItem {
        text-Decoration: none;
        color:magenta;
        display: flex;
        flex-Direction: column;
        align-Items: center;
        text-Shadow: 0 5px 10px #161414;
        font-Size:11px;
        margin:0px;
    }
}